body {
  margin: 0;
  text-align: center;
  font-family: "Courier Prime", monospace;
  color: #393b44;
  background-color: #d6e0f0;
}

h1 {
  margin-top: 0;
  font-size: 80px;
  /* if we want to center an element and set width to certain % */
  /*width: 10%;*/
  /* since we are using custom width now text aling from body does not apply*/
  /* attributes going clockwise */
  /*margin: 0 auto 0 auto ;*/
}

h2 { 
  margin-bottom: 20px;
}

hr {
  margin: 0;
  border: solid #393b44 6px;
}
table {
  margin: 0 auto 0 auto;
  border-spacing: 10px;
  border-collapse: separate;
}

li { 
  margin: 10px 0;
}

.work-table {
  border-spacing: 10px;
  border-collapse: separate;
  width: 80%;
}

.experience-table { 
  text-align: left;
}

.top-container {
  position: relative;
  padding-top: 50px;
}

.middle-container {
  position: relative;
}

.bottom-container {
  position: relative;
}

.skill-row {
  margin: auto;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.custom-row {
  border: solid;
}

.trademark-div { 
  background-color: #393b44;
  color: #d6e0f0;
  font-size: 0.75em;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.trademark {
  margin-bottom: 0;
}

.footer-link { 
  color: #393b44;
}

.contact-info { 
  width: 300px;
  text-align: left;
  margin: 0 auto 0 auto;
}

.buttons { 
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  background: #393b44;
  background-image: -webkit-linear-gradient(top, #393b44, #8d93ab);
  background-image: -moz-linear-gradient(top, #393b44, #8d93ab);
  background-image: -ms-linear-gradient(top, #393b44, #8d93ab);
  background-image: -o-linear-gradient(top, #393b44, #8d93ab);
  background-image: linear-gradient(to bottom, #393b44, #8d93ab);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: "Courier Prime", monospace;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d6e0f0;
  background-image: -webkit-linear-gradient(top, #d6e0f0, #8d93ab);
  background-image: -moz-linear-gradient(top, #d6e0f0, #8d93ab);
  background-image: -ms-linear-gradient(top, #d6e0f0, #8d93ab);
  background-image: -o-linear-gradient(top, #d6e0f0, #8d93ab);
  background-image: linear-gradient(to bottom, #d6e0f0, #8d93ab);
  text-decoration: none;
}

#profile-image {
  margin-top: 20px;
  border-radius: 100%;
  border-width: 10px;
  border-color: #393b44;
  border-style: double;
}
